#calculator {
    border: 1px solid black;
    padding: 10px;
    margin: auto;
    width: 40vw;
    height: 40vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#display {
    flex: 1;
    border: 1px solid black;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    justify-content: space-between;
}
#small {
    font-size: 30px;
    color: grey;
}

#big {
    font-size: 50px;
}

#button-container {
    flex: 4;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
}

button {
    flex: 1 1 20%;
    aspect-ratio: 2/1.5;
    font-size: 30px;
}
